body {
    font-family: "Roboto", sans-serif;
}

.navbar-fixed-top {
    padding: 0px;
    margin: 0px;
}

.navbar-fixed-top a {
    color: rgba(255,255,255,.84);
}

header {
    margin-top: 60px;
    padding: 30px 0px;
    text-align: center;
    color: #fff;
    position: relative;
    background-position: center center;
    background-size: cover;
}

.header_dim {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

header h1 {
    font-family: "Russo One";
    font-size: 30px;
    position: relative;
    margin: 0px;
    padding: 0px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

header h3 {
    font-family: "Russo One";
    font-size: 20px;
    position: relative;
    margin: 0px;
    padding: 0px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

header span {
    font-family: "Russo One";
    font-size: 20px;
    position: relative;
    margin: 0px;
    padding: 0px;
}

header .divider {
    margin: 15px auto;
    height: 2px;
    width: 10%;
    background: #fff;
}

#content h1 {
    font-size: 28px;
    line-height: normal;
}

#content h2 {
    font-size: 24px;
    line-height: normal;
    font-weight: 400
}

#content h3 {
    font-size: 20px;
    line-height: normal;
}

#content p {
    font-size: 16px;
    line-height: normal;
    font-weight: normal;
}

#post-content a, #post-content p {
    word-break: break-all;
}

#content li {
    font-size: 16px;
    line-height: 24px;
}

.row.cards .card {
    margin-bottom: 30px;
}

.card {
    position: relative;
    padding-bottom: 82px;
}

.card.cat {
    border-top: 3px solid #fec819;
}

.card.post {
    border-top: 3px solid #3f729b;
}

.card .card-content .card-content-1 h5 {
    border-bottom: 0px;
}

.card .card-btn {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
}

.card .stripe  {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 0.3s;
}
.card .card-image:hover .stripe {
    opacity: 0;
}
.card .stripe.stripe_soon {
    background-image: url(../img/stripe_soon.png);
}
.card .stripe.stripe_updated {
    background-image: url(../img/stripe_updated.png);
}
.card .stripe.stripe_new {
    background-image: url(../img/stripe_new.png);
}

.thin .row.cards .card .card-content {
    padding: 5px 10px;
}

.row.cards .card .card-content h5 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.row.cards .card .card-content p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

#sidebar img, #content img {
    max-width: 100%;
    height: auto!important;
}

#menu.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

#menu.navbar .navbar-collapse {
  text-align: center;
}

.video_wrap, .video-js {
    width: 100%!important;
    position: relative!important;
    padding-bottom: 56.25%!important;
    /*padding-top: 25px;*/
    height: 0!important;
}
.video_wrap iframe, .video-js video {
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    height: 100%!important;
}

#post-content p {
    word-break: normal;
}

.list-content iframe {
    max-width: 100%;
}

.video-js .vjs-big-play-button {
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    margin-left: -40px!important;
    margin-top: -30px!important;
    width: 80px!important;
    height: 60px!important;
    line-height: 60px!important;
    font-size: 30px!important;
}

p.wat {
    display: block;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    font-family: "GothamPro"!important;
    opacity: 0.2;
    position: absolute;
    -webkit-text-stroke: 1px black;
   color: #fff;
   text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

p.wat.wat1 {
    top: 30px;
    left: 30px;
}

p.wat.wat2 {
    bottom: 30px;
    right: 30px;
}

#login_wrap {
    padding: 20px 0px;
}

footer {
    border-top: 2px solid #aaa;
    background-image: url(../img/footer.jpg);
    padding: 20px 0px;
}

footer p.copyright {
    font-weight: 400;
}

footer ul, footer p {
    margin: 0px;
    padding: 0px;
}

#clock_wrap {
    text-align: center;
}

#clock {
    display: inline-block;
}

#clock > div > strong {
    display: inline-block;
    width: 10px;
    text-align: center;
    font-size: 20px;
}

#clock > div > span {
    display: inline-block;
    width: 70px;
    text-align: center;
}

#clock > div:first-child > span {
    background: url(../../images/clock.png);
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

ul.files {
    margin: 0px;
    padding: 0px;
}

ul.files li {
    margin-bottom: 5px;
    list-style: none;
}

ul.files li a {
    display: block;
}

ul.files li a img {
    width: 52px;
    margin-right: 10px;
}

.post_form .form-group {
    border: 0px;
}

.post_form .form-group textarea {
    border: 1px solid #eee;
    padding: 15px;
}

.post_form input[type=file]{
    margin: 10px 0px 0px 0px;
}

.comment h4 {
    padding: 0px;
    margin: 20px 0px 10px 0px;
    opacity: 0.8;
    font-size: 20px;
}

.comment h4 span.admin {
    color: #fe8a33;
}

.comment h4 span.user {
    color: #00dd1c;
}

.comment h4 a.destroy {
    color: #cc0000;
}

.comment p {
    padding: 0px 0px 20px 0px;
    margin: 0px;
    border-bottom: 1px solid #eee;
}

@media screen and (max-width: 1200px) {
    p.wat {
        font-size: 24px;
        line-height: 24px;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
    p.wat {
        font-size: 32px;
        line-height: 32px;
    }
}
@media screen and (min-width: 1601px) and (max-width: 2000px) {
    p.wat {
        font-size: 42px;
        line-height: 42px;
    }
}
@media screen and (min-width: 2001px) and (max-width: 2400px) {
    p.wat {
        font-size: 60px;
        line-height: 60px;
    }
}
@media screen and (min-width: 2401px){
    p.wat {
        font-size: 120px;
        line-height: 120px;
    }
}